المتطلبات الاسبوعية لهذا الاسبوع :
الاسبوع الاول من شهر 7 2021 

الاحد :
1- الكلاس الاول :
1:00 - 1:45 الظهر : css 
2:00 - 2:45 الظهر : css
3:00 - 3:30 الظهر : css

الاثنين :
1:00 - 1:45 الظهر : css 
2:00 - 2:45 الظهر : css
3:00 - 3:30 الظهر : css

الثلاثاء :
1:00 - 1:45 الظهر : css 
2:00 - 2:45 الظهر : css
3:00 - 3:30 الظهر : css

الاربعاء :


الخميس :


الجمعة :


السبت :

